/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
/*общие стили*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 100px;
  font-family: var(--font-family-main,sans-serif);
  font-variation-settings: 'wdth' var(--font-weight-main);
  background-color: var(--color-background);
  background-image: var(--image-background);
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-text);
}

.border {
  background-color: var(--color-background);
  border: 2px solid var(--color-text);
}

.button {
  position: relative;
  z-index: 1;
  display: flex;
  place-items: center;
  font-family: var(--font-family-accent);
  font-size: 14px;
  text-transform: inherit;
  background: var(--color-background);
  cursor: pointer;
  appearance: none;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--color-text);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--color-text);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  color: var(--color-shadow);
}

.section__size {
  inline-size: clamp(375px, 50%, 700px);
}

/*стили для шапки*/
.header {
  display: grid;
  place-items: center;
  font-family: var(--font-family-accent);
  line-height: normal;
  text-transform: uppercase;
  padding-block-start: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem);
}

.header__text {
  padding-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  padding-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  padding-block-end: 27px;
}

.theme-menu__list {
  display: grid;
  row-gap: 8px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  appearance: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  background: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: disabled 0.5s ease-in-out infinite alternate;
  inset-inline-start: -16px;
  inset-block-start: 0px;
}

/*основной контент*/
.content {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 50px;
}

.content__list {
  display: grid;
  gap: 50px;
}

.card__tittle {
  padding: 3px 10px;
  font-size: 18px;
  line-height: normal;
  font-variation-settings: "wght" var(--font-weight__tittle);
}

.card__image {
  position: relative;
  border-inline-start: none;
  border-inline-end: none;
}

.card__image-label {
  position: absolute;
  z-index: 1;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  color: var(--color-text);
  font-family: var(--font-family-accent);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 0 0 1px var(--color-background);
}

.picture {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__text {
  display: grid;
  gap: 27px;
  font-size: 18px;
  padding: 25px 28px 25px 25px;
}

.card__buttons {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  align-items: stretch;
  padding-inline-end: 25px;
  padding-block-end: 25px;
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-text, #000000);
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

.card__like-button {
  inline-size: 130px;
  padding-block-start: 12px;
  padding-block-end: 12px;
  justify-content: center;
}

.button__in-memory {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  color: var(--color-shadow);
}

.dialog {
  text-transform: uppercase;
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: 21px;
  color: var(--color-text);
  padding: 30px;
  inline-size: clamp(21.25rem, 1.408vw + 20.92rem, 22.188rem);
}

.dialog[open] {
  display: grid;
  gap: 30px;
  align-items: center;
}

.dialog::backdrop {
  opacity: 0.75;
  background: var(--dark-color);
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog__floppy {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.dialog__button {
  inline-size: 100%;
  justify-content: center;
  padding-block-start: 12.5px;
  padding-block-end: 12.5px;
}

/*фильтры*/
.brightness {
  filter: brightness(30%);
  object-fit: fill;
}

.contrast {
  filter: contrast(200%);
  object-fit: fill;
}
.grayscale {
  filter: grayscale(50%);
}

.hue-rotate {
  filter: hue-rotate(0.5turn);
}

.invert {
  filter: invert(100%);
}

.opacity {
  filter: opacity(50%);
}

.sepia {
  filter: sepia(100%) blur(3px);
}
/*закончились фильтры*/

@media (width < 400px) {
  .button__in-memory {
    flex-direction: column;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }
}

 @supports (
  (-webkit-text-stroke: 1px var(--color-shadow))) {
  .card__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-shadow);
  }
}





